In [2]:
import json 
import pandas as pd 
import numpy as np
with open('response1.json') as f:
    d = json.load(f)

In [3]:
len(d["results"][2]["attributes"])
#es un diccionario con el primer ítem, me interesa el elemento "atributtes" que a su vez una lista

10

In [4]:
d["results"][0]["attributes"] 
#ahora veo una lista de atributos, cada uno de ellos es un diccionario con las mismas "keys"

[{'id': 'ITEM_CONDITION',
  'value_id': '2230581',
  'value_name': 'Usado',
  'attribute_group_id': '',
  'source': 1,
  'name': 'Condición del ítem',
  'value_struct': None,
  'values': [{'id': '2230581', 'name': 'Usado', 'struct': None, 'source': 1}],
  'attribute_group_name': ''},
 {'id': 'HAS_TELEPHONE_LINE',
  'name': 'Línea telefónica',
  'attribute_group_id': 'CARACTERISTICAS',
  'values': [{'id': '242084',
    'name': 'No',
    'struct': None,
    'source': 4709975701260268}],
  'attribute_group_name': 'Características adicionales',
  'source': 4709975701260268,
  'value_id': '242084',
  'value_name': 'No',
  'value_struct': None},
 {'value_name': 'No',
  'value_struct': None,
  'attribute_group_id': 'COMOYAMEN',
  'attribute_group_name': 'Comodidades y amenities',
  'source': 4709975701260268,
  'id': 'HAS_AIR_CONDITIONING',
  'name': 'Aire acondicionado',
  'value_id': '242084',
  'values': [{'name': 'No',
    'struct': None,
    'source': 4709975701260268,
    'id': '242084'}]},
 {'values': [{'source': 4709975701260268,
    'id': None,
    'name': '1',
    'struct': None}],
  'id': 'BEDROOMS',
  'name': 'Dormitorios',
  'value_struct': None,
  'attribute_group_name': 'Ficha técnica',
  'source': 4709975701260268,
  'value_id': None,
  'value_name': '1',
  'attribute_group_id': 'FIND'},
 {'value_id': None,
  'value_name': '39 m²',
  'value_struct': {'number': 39, 'unit': 'm²'},
  'id': 'COVERED_AREA',
  'name': 'Superficie cubierta',
  'values': [{'id': None,
    'name': '39 m²',
    'struct': {'number': 39, 'unit': 'm²'},
    'source': 4709975701260268}],
  'attribute_group_id': 'FIND',
  'attribute_group_name': 'Ficha técnica',
  'source': 4709975701260268},
 {'value_struct': None,
  'source': 4709975701260268,
  'id': 'FULL_BATHROOMS',
  'name': 'Baños',
  'values': [{'id': None,
    'name': '1',
    'struct': None,
    'source': 4709975701260268}],
  'attribute_group_id': 'FIND',
  'attribute_group_name': 'Ficha técnica',
  'value_id': None,
  'value_name': '1'},
 {'id': 'ROOMS',
  'name': 'Ambientes',
  'value_id': None,
  'value_name': '2',
  'value_struct': None,
  'values': [{'source': 4709975701260268,
    'id': None,
    'name': '2',
    'struct': None}],
  'attribute_group_id': 'FIND',
  'attribute_group_name': 'Ficha técnica',
  'source': 4709975701260268},
 {'id': 'TOTAL_AREA',
  'value_name': '42 m²',
  'value_struct': {'unit': 'm²', 'number': 42},
  'values': [{'id': None,
    'name': '42 m²',
    'struct': {'number': 42, 'unit': 'm²'},
    'source': 4709975701260268}],
  'name': 'Superficie total',
  'value_id': None,
  'attribute_group_id': 'FIND',
  'attribute_group_name': 'Ficha técnica',
  'source': 4709975701260268},
 {'id': 'OPERATION',
  'name': 'Operación',
  'attribute_group_id': 'MAIN',
  'source': 1,
  'attribute_group_name': 'Principales',
  'value_id': '242073',
  'value_name': 'Alquiler',
  'value_struct': None,
  'values': [{'source': 1,
    'id': '242073',
    'name': 'Alquiler',
    'struct': None}]},
 {'id': 'PROPERTY_TYPE',
  'name': 'Inmueble',
  'value_name': 'Departamento',
  'values': [{'struct': None,
    'source': 1,
    'id': '242062',
    'name': 'Departamento'}],
  'value_id': '242062',
  'value_struct': None,
  'attribute_group_id': 'MAIN',
  'attribute_group_name': 'Principales',
  'source': 1}]

In [5]:
#puedo iterar sobre la lista de atributos porque comparten las keys para hacer un nuevo diccionario
dict_global = {}
for j in range(len(d["results"])):
     dict_attr = {}
     for i in range(len(d["results"][j]["attributes"])): #numero de atributos por ítem, no siempre es 10
          dict_attr [d["results"][j]["attributes"][i]["name"]] = d["results"][j]["attributes"][i]["value_name"] 
     dict_global[d["results"][j]["id"]] = dict_attr

In [6]:
dict_global

{'MLA1130578098': {'Condición del ítem': 'Usado',
  'Línea telefónica': 'No',
  'Aire acondicionado': 'No',
  'Dormitorios': '1',
  'Superficie cubierta': '39 m²',
  'Baños': '1',
  'Ambientes': '2',
  'Superficie total': '42 m²',
  'Operación': 'Alquiler',
  'Inmueble': 'Departamento'},
 'MLA1130495400': {'Condición del ítem': 'Usado',
  'Aire acondicionado': 'Sí',
  'Dormitorios': '1',
  'Superficie cubierta': '32 m²',
  'Baños': '1',
  'Ambientes': '2',
  'Superficie total': '34 m²',
  'Operación': 'Alquiler',
  'Inmueble': 'Departamento'},
 'MLA1130906965': {'Condición del ítem': 'Usado',
  'Línea telefónica': 'No',
  'Aire acondicionado': 'No',
  'Dormitorios': '1',
  'Superficie cubierta': '36 m²',
  'Baños': '1',
  'Ambientes': '1',
  'Superficie total': '38 m²',
  'Operación': 'Alquiler',
  'Inmueble': 'Departamento'},
 'MLA1130879219': {'Condición del ítem': 'Usado',
  'Dormitorios': '1',
  'Superficie cubierta': '45 m²',
  'Baños': '1',
  'Ambientes': '2',
  'Superficie total': '50 m²',
  'Operación': 'Alquiler',
  'Inmueble': 'Departamento'},
 'MLA1130467824': {'Aire acondicionado': 'Sí',
  'Dormitorios': '2',
  'Superficie cubierta': '56 m²',
  'Baños': '1',
  'Ambientes': '3',
  'Superficie total': '82 m²',
  'Operación': 'Alquiler',
  'Inmueble': 'Departamento',
  'Condición del ítem': 'Usado'},
 'MLA1131203138': {'Línea telefónica': 'No',
  'Aire acondicionado': 'No',
  'Dormitorios': '3',
  'Superficie cubierta': '117 m²',
  'Baños': '2',
  'Ambientes': '4',
  'Superficie total': '117 m²',
  'Operación': 'Alquiler',
  'Inmueble': 'Departamento',
  'Condición del ítem': 'Usado',
  'Tour virtual': 'No'},
 'MLA1130678452': {'Condición del ítem': 'Usado',
  'Dormitorios': '1',
  'Superficie cubierta': '49 m²',
  'Baños': '1',
  'Ambientes': '2',
  'Superficie total': '47 m²',
  'Operación': 'Alquiler',
  'Inmueble': 'Departamento'},
 'MLA1131284539': {'Condición del ítem': 'Usado',
  'Línea telefónica': 'Sí',
  'Aire acondicionado': 'Sí',
  'Dormitorios': '3',
  'Superficie cubierta': '150 m²',
  'Baños': '2',
  'Ambientes': '4',
  'Superficie total': '159 m²',
  'Operación': 'Alquiler',
  'Inmueble': 'Departamento'},
 'MLA1131053279': {'Condición del ítem': 'Usado',
  'Línea telefónica': 'No',
  'Aire acondicionado': 'No',
  'Dormitorios': '3',
  'Superficie cubierta': '96 m²',
  'Baños': '2',
  'Ambientes': '4',
  'Superficie total': '96 m²',
  'Operación': 'Alquiler',
  'Inmueble': 'Departamento'},
 'MLA1131469805': {'Dormitorios': '2',
  'Superficie cubierta': '46 m²',
  'Baños': '1',
  'Ambientes': '3',
  'Superficie total': '55 m²',
  'Operación': 'Alquiler',
  'Inmueble': 'Departamento',
  'Condición del ítem': 'Usado'},
 'MLA1131011236': {'Dormitorios': '1',
  'Superficie cubierta': '48 m²',
  'Baños': '1',
  'Ambientes': '2',
  'Superficie total': '98 m²',
  'Operación': 'Alquiler',
  'Inmueble': 'Departamento'},
 'MLA1131399340': {'Condición del ítem': 'Usado',
  'Aire acondicionado': 'No',
  'Dormitorios': '2',
  'Superficie cubierta': '171 m²',
  'Baños': '2',
  'Ambientes': '5',
  'Superficie total': '185 m²',
  'Operación': 'Alquiler',
  'Inmueble': 'Departamento'},
 'MLA1130847470': {'Línea telefónica': 'No',
  'Aire acondicionado': 'Sí',
  'Dormitorios': '2',
  'Superficie cubierta': '79 m²',
  'Baños': '2',
  'Ambientes': '3',
  'Superficie total': '88 m²',
  'Operación': 'Alquiler',
  'Inmueble': 'Departamento',
  'Condición del ítem': 'Usado'},
 'MLA1131061516': {'Condición del ítem': 'Usado',
  'Línea telefónica': 'No',
  'Aire acondicionado': 'Sí',
  'Dormitorios': '1',
  'Superficie cubierta': '45 m²',
  'Baños': '1',
  'Ambientes': '2',
  'Superficie total': '48 m²',
  'Operación': 'Alquiler',
  'Inmueble': 'Departamento'},
 'MLA1130637339': {'Condición del ítem': 'Usado',
  'Aire acondicionado': 'Sí',
  'Dormitorios': '1',
  'Superficie cubierta': '98 m²',
  'Baños': '2',
  'Ambientes': '2',
  'Superficie total': '107 m²',
  'Operación': 'Alquiler',
  'Inmueble': 'Departamento'},
 'MLA1130897004': {'Línea telefónica': 'No',
  'Aire acondicionado': 'No',
  'Dormitorios': '5',
  'Superficie cubierta': '450 m²',
  'Baños': '6',
  'Ambientes': '7',
  'Superficie total': '0 m²',
  'Operación': 'Alquiler',
  'Inmueble': 'Departamento',
  'Condición del ítem': 'Nuevo',
  'Tour virtual': 'No'},
 'MLA1130637291': {'Dormitorios': '1',
  'Superficie cubierta': '45 m²',
  'Baños': '1',
  'Ambientes': '3',
  'Superficie total': '47 m²',
  'Operación': 'Alquiler',
  'Inmueble': 'Departamento',
  'Condición del ítem': 'Usado'},
 'MLA1131139668': {'Condición del ítem': 'Usado',
  'Aire acondicionado': 'No',
  'Dormitorios': '2',
  'Superficie cubierta': '85 m²',
  'Baños': '2',
  'Ambientes': '3',
  'Superficie total': '91 m²',
  'Operación': 'Alquiler',
  'Inmueble': 'Departamento'},
 'MLA1131287180': {'Línea telefónica': 'Sí',
  'Aire acondicionado': 'No',
  'Dormitorios': '3',
  'Superficie cubierta': '149 m²',
  'Baños': '3',
  'Ambientes': '4',
  'Superficie total': '160 m²',
  'Operación': 'Alquiler',
  'Inmueble': 'Departamento',
  'Condición del ítem': 'Usado',
  'Tour virtual': 'No'},
 'MLA1130830773': {'Línea telefónica': 'No',
  'Aire acondicionado': 'Sí',
  'Dormitorios': '0',
  'Superficie cubierta': '44 m²',
  'Baños': '1',
  'Ambientes': '1',
  'Superficie total': '49 m²',
  'Operación': 'Alquiler',
  'Inmueble': 'Departamento',
  'Condición del ítem': 'Usado'},
 'MLA1131116892': {'Condición del ítem': 'Usado',
  'Aire acondicionado': 'No',
  'Dormitorios': '2',
  'Superficie cubierta': '70 m²',
  'Baños': '1',
  'Ambientes': '3',
  'Superficie total': '0 m²',
  'Operación': 'Alquiler',
  'Inmueble': 'Departamento'},
 'MLA1131172523': {'Línea telefónica': 'No',
  'Aire acondicionado': 'Sí',
  'Dormitorios': '2',
  'Superficie cubierta': '168 m²',
  'Baños': '3',
  'Ambientes': '3',
  'Superficie total': '168 m²',
  'Operación': 'Alquiler',
  'Inmueble': 'Departamento',
  'Condición del ítem': 'Usado'},
 'MLA1131202332': {'Dormitorios': '1',
  'Superficie cubierta': '55 m²',
  'Baños': '1',
  'Ambientes': '2',
  'Superficie total': '55 m²',
  'Operación': 'Alquiler',
  'Inmueble': 'Departamento',
  'Condición del ítem': 'Usado'},
 'MLA1130921257': {'Condición del ítem': 'Usado',
  'Línea telefónica': 'No',
  'Aire acondicionado': 'Sí',
  'Dormitorios': '2',
  'Superficie cubierta': '135 m²',
  'Baños': '2',
  'Ambientes': '3',
  'Superficie total': '135 m²',
  'Operación': 'Alquiler',
  'Inmueble': 'Departamento'},
 'MLA1131385153': {'Condición del ítem': 'Nuevo',
  'Línea telefónica': 'No',
  'Aire acondicionado': 'No',
  'Dormitorios': '1',
  'Superficie cubierta': '43 m²',
  'Baños': '1',
  'Ambientes': '2',
  'Superficie total': '45 m²',
  'Operación': 'Alquiler',
  'Inmueble': 'Departamento'},
 'MLA1131094018': {'Condición del ítem': 'Nuevo',
  'Línea telefónica': 'No',
  'Aire acondicionado': 'No',
  'Dormitorios': '4',
  'Superficie cubierta': '0 m²',
  'Baños': '4',
  'Ambientes': '5',
  'Superficie total': '450 m²',
  'Operación': 'Alquiler',
  'Inmueble': 'Departamento'},
 'MLA1130921309': {'Condición del ítem': 'Nuevo',
  'Línea telefónica': 'No',
  'Aire acondicionado': 'Sí',
  'Dormitorios': '4',
  'Superficie cubierta': '170 m²',
  'Baños': '4',
  'Ambientes': '3',
  'Superficie total': '170 m²',
  'Operación': 'Alquiler',
  'Inmueble': 'Departamento'},
 'MLA1131082288': {'Dormitorios': '2',
  'Superficie cubierta': '60 m²',
  'Baños': '1',
  'Ambientes': '3',
  'Superficie total': '63 m²',
  'Operación': 'Alquiler',
  'Inmueble': 'Departamento',
  'Condición del ítem': 'Usado'},
 'MLA1131068427': {'Aire acondicionado': 'Sí',
  'Dormitorios': '3',
  'Superficie cubierta': '85 m²',
  'Baños': '1',
  'Ambientes': '4',
  'Superficie total': '90 m²',
  'Operación': 'Alquiler',
  'Inmueble': 'Departamento',
  'Condición del ítem': 'Usado'},
 'MLA1131211902': {'Dormitorios': '1',
  'Superficie cubierta': '42 m²',
  'Baños': '1',
  'Ambientes': '2',
  'Superficie total': '42 m²',
  'Operación': 'Alquiler',
  'Inmueble': 'Departamento'},
 'MLA1130632431': {'Dormitorios': '2',
  'Superficie cubierta': '60 m²',
  'Baños': '1',
  'Ambientes': '3',
  'Superficie total': '65 m²',
  'Operación': 'Alquiler',
  'Inmueble': 'Departamento',
  'Condición del ítem': 'Usado'},
 'MLA1131035865': {'Condición del ítem': 'Usado',
  'Dormitorios': '2',
  'Superficie cubierta': '49 m²',
  'Baños': '1',
  'Ambientes': '3',
  'Superficie total': '49 m²',
  'Operación': 'Alquiler',
  'Inmueble': 'Departamento'},
 'MLA1131385152': {'Línea telefónica': 'No',
  'Aire acondicionado': 'No',
  'Dormitorios': '1',
  'Superficie cubierta': '26 m²',
  'Baños': '1',
  'Ambientes': '1',
  'Superficie total': '26 m²',
  'Operación': 'Alquiler',
  'Inmueble': 'Departamento',
  'Condición del ítem': 'Usado',
  'Tour virtual': 'No'},
 'MLA1131321320': {'Dormitorios': '1',
  'Superficie cubierta': '35 m²',
  'Baños': '1',
  'Ambientes': '2',
  'Superficie total': '35 m²',
  'Operación': 'Alquiler',
  'Inmueble': 'Departamento',
  'Tour virtual': 'No'},
 'MLA1131350131': {'Dormitorios': '1',
  'Superficie cubierta': '54 m²',
  'Baños': '1',
  'Ambientes': '2',
  'Superficie total': '52 m²',
  'Operación': 'Alquiler',
  'Inmueble': 'Departamento'},
 'MLA1130724080': {'Línea telefónica': 'Sí',
  'Dormitorios': '1',
  'Superficie cubierta': '50 m²',
  'Baños': '1',
  'Ambientes': '2',
  'Superficie total': '50 m²',
  'Operación': 'Alquiler',
  'Inmueble': 'Departamento',
  'Condición del ítem': 'Usado',
  'Tour virtual': 'No'},
 'MLA1130504090': {'Condición del ítem': 'Usado',
  'Dormitorios': '0',
  'Superficie cubierta': '27 m²',
  'Baños': '1',
  'Ambientes': '1',
  'Superficie total': '27 m²',
  'Operación': 'Alquiler',
  'Inmueble': 'Departamento'},
 'MLA1130934078': {'Condición del ítem': 'Usado',
  'Línea telefónica': 'Sí',
  'Aire acondicionado': 'No',
  'Dormitorios': '2',
  'Superficie cubierta': '50 m²',
  'Baños': '1',
  'Ambientes': '3',
  'Superficie total': '50 m²',
  'Operación': 'Alquiler',
  'Inmueble': 'Departamento'},
 'MLA1130644078': {'Dormitorios': '1',
  'Superficie cubierta': '42 m²',
  'Baños': '1',
  'Ambientes': '2',
  'Superficie total': '45 m²',
  'Operación': 'Alquiler',
  'Inmueble': 'Departamento',
  'Condición del ítem': 'Usado'},
 'MLA1131296140': {'Aire acondicionado': 'Sí',
  'Dormitorios': '2',
  'Superficie cubierta': '90 m²',
  'Baños': '1',
  'Ambientes': '3',
  'Superficie total': '95 m²',
  'Operación': 'Alquiler',
  'Inmueble': 'Departamento',
  'Condición del ítem': 'Usado'},
 'MLA1131198343': {'Condición del ítem': 'Nuevo',
  'Línea telefónica': 'Sí',
  'Aire acondicionado': 'No',
  'Dormitorios': '2',
  'Superficie cubierta': '97 m²',
  'Baños': '2',
  'Ambientes': '3',
  'Superficie total': '97 m²',
  'Operación': 'Alquiler',
  'Inmueble': 'Departamento'},
 'MLA1130652075': {'Línea telefónica': 'Sí',
  'Aire acondicionado': 'Sí',
  'Dormitorios': '1',
  'Superficie cubierta': '230 m²',
  'Baños': '3',
  'Ambientes': '1',
  'Superficie total': '270 m²',
  'Operación': 'Alquiler',
  'Inmueble': 'Departamento',
  'Condición del ítem': 'Usado',
  'Tour virtual': 'No'},
 'MLA1130803074': {'Condición del ítem': 'Usado',
  'Dormitorios': '2',
  'Superficie cubierta': '92 m²',
  'Baños': '2',
  'Ambientes': '3',
  'Superficie total': '92 m²',
  'Operación': 'Alquiler',
  'Inmueble': 'Departamento'},
 'MLA1131153607': {'Condición del ítem': 'Nuevo',
  'Línea telefónica': 'No',
  'Aire acondicionado': 'No',
  'Dormitorios': '1',
  'Superficie cubierta': '30 m²',
  'Baños': '1',
  'Ambientes': '1',
  'Superficie total': '32 m²',
  'Operación': 'Alquiler',
  'Inmueble': 'Departamento'},
 'MLA1131142106': {'Línea telefónica': 'No',
  'Aire acondicionado': 'No',
  'Dormitorios': '1',
  'Superficie cubierta': '27 m²',
  'Baños': '1',
  'Ambientes': '1',
  'Superficie total': '27 m²',
  'Operación': 'Alquiler',
  'Inmueble': 'Departamento',
  'Condición del ítem': 'Nuevo',
  'Tour virtual': 'No'},
 'MLA1131412995': {'Dormitorios': '1',
  'Superficie cubierta': '36 m²',
  'Baños': '1',
  'Ambientes': '1',
  'Superficie total': '36 m²',
  'Operación': 'Alquiler',
  'Inmueble': 'Departamento'},
 'MLA1123296980': {'Condición del ítem': 'Usado',
  'Dormitorios': '1',
  'Superficie cubierta': '30 m²',
  'Baños': '1',
  'Ambientes': '2',
  'Superficie total': '30 m²',
  'Operación': 'Alquiler',
  'Inmueble': 'Departamento'},
 'MLA1124680615': {'Línea telefónica': 'No',
  'Aire acondicionado': 'No',
  'Dormitorios': '1',
  'Superficie cubierta': '30 m²',
  'Baños': '1',
  'Ambientes': '2',
  'Superficie total': '30 m²',
  'Operación': 'Alquiler',
  'Inmueble': 'Departamento',
  'Tour virtual': 'No'},
 'MLA1127331378': {'Línea telefónica': 'No',
  'Aire acondicionado': 'Sí',
  'Dormitorios': '0',
  'Superficie cubierta': '60 m²',
  'Baños': '1',
  'Ambientes': '3',
  'Superficie total': '65 m²',
  'Operación': 'Alquiler',
  'Inmueble': 'Departamento',
  'Condición del ítem': 'Usado',
  'Tour virtual': 'No'},
 'MLA1125440762': {'Dormitorios': '1',
  'Superficie cubierta': '20 m²',
  'Baños': '1',
  'Ambientes': '1',
  'Superficie total': '20 m²',
  'Operación': 'Alquiler',
  'Inmueble': 'Departamento',
  'Tour virtual': 'No'}}

In [7]:
df_attr = pd.DataFrame.from_dict(dict_global)

In [8]:
df_attr.T

,Condición del ítem,Línea telefónica,Aire acondicionado,Dormitorios,Superficie cubierta,Baños,Ambientes,Superficie total,Operación,Inmueble,Tour virtual
MLA1130578098,Usado,No,No,1,39 m²,1,2,42 m²,Alquiler,Departamento,NaN
MLA1130495400,Usado,NaN,Sí,1,32 m²,1,2,34 m²,Alquiler,Departamento,NaN
MLA1130906965,Usado,No,No,1,36 m²,1,1,38 m²,Alquiler,Departamento,NaN
MLA1130879219,Usado,NaN,NaN,1,45 m²,1,2,50 m²,Alquiler,Departamento,NaN
MLA1130467824,Usado,NaN,Sí,2,56 m²,1,3,82 m²,Alquiler,Departamento,NaN
MLA1131203138,Usado,No,No,3,117 m²,2,4,117 m²,Alquiler,Departamento,No
MLA1130678452,Usado,NaN,NaN,1,49 m²,1,2,47 m²,Alquiler,Departamento,NaN
MLA1131284539,Usado,Sí,Sí,3,150 m²,2,4,159 m²,Alquiler,Departamento,NaN
MLA1131053279,Usado,No,No,3,96 m²,2,4,96 m²,Alquiler,Departamento,NaN
MLA1131469805,Usado,NaN,NaN,2,46 m²,1,3,55 m²,Alquiler,Departamento,NaN
MLA1131011236,NaN,NaN,NaN,1,48 m²,1,2,98 m²,Alquiler,Departamento,NaN
MLA1131399340,Usado,NaN,No,2,171 m²,2,5,185 m²,Alquiler,Departamento,NaN
MLA1130847470,Usado,No,Sí,2,79 m²,2,3,88 m²,Alquiler,Departamento,NaN
MLA1131061516,Usado,No,Sí,1,45 m²,1,2,48 m²,Alquiler,Departamento,NaN
MLA1130637339,Usado,NaN,Sí,1,98 m²,2,2,107 m²,Alquiler,Departamento,NaN
MLA1130897004,Nuevo,No,No,5,450 m²,6,7,0 m²,Alquiler,Departamento,No
MLA1130637291,Usado,NaN,NaN,1,45 m²,1,3,47 m²,Alquiler,Departamento,NaN
MLA1131139668,Usado,NaN,No,2,85 m²,2,3,91 m²,Alquiler,Departamento,NaN
MLA1131287180,Usado,Sí,No,3,149 m²,3,4,160 m²,Alquiler,Departamento,No
MLA1130830773,Usado,No,Sí,0,44 m²,1,1,49 m²,Alquiler,Departamento,NaN
MLA1131116892,Usado,NaN,No,2,70 m²,1,3,0 m²,Alquiler,Departamento,NaN
MLA1131172523,Usado,No,Sí,2,168 m²,3,3,168 m²,Alquiler,Departamento,NaN
MLA1131202332,Usado,NaN,NaN,1,55 m²,1,2,55 m²,Alquiler,Departamento,NaN
MLA1130921257,Usado,No,Sí,2,135 m²,2,3,135 m²,Alquiler,Departamento,NaN
MLA1131385153,Nuevo,No,No,1,43 m²,1,2,45 m²,Alquiler,Departamento,NaN
MLA1131094018,Nuevo,No,No,4,0 m²,4,5,450 m²,Alquiler,Departamento,NaN
MLA1130921309,Nuevo,No,Sí,4,170 m²,4,3,170 m²,Alquiler,Departamento,NaN
MLA1131082288,Usado,NaN,NaN,2,60 m²,1,3,63 m²,Alquiler,Departamento,NaN
MLA1131068427,Usado,NaN,Sí,3,85 m²,1,4,90 m²,Alquiler,Departamento,NaN
MLA1131211902,NaN,NaN,NaN,1,42 m²,1,2,42 m²,Alquiler,Departamento,NaN
MLA1130632431,Usado,NaN,NaN,2,60 m²,1,3,65 m²,Alquiler,Departamento,NaN
MLA1131035865,Usado,NaN,NaN,2,49 m²,1,3,49 m²,Alquiler,Departamento,NaN
MLA1131385152,Usado,No,No,1,26 m²,1,1,26 m²,Alquiler,Departamento,No
MLA1131321320,NaN,NaN,NaN,1,35 m²,1,2,35 m²,Alquiler,Departamento,No
MLA1131350131,NaN,NaN,NaN,1,54 m²,1,2,52 m²,Alquiler,Departamento,NaN
MLA1130724080,Usado,Sí,NaN,1,50 m²,1,2,50 m²,Alquiler,Departamento,No
MLA1130504090,Usado,NaN,NaN,0,27 m²,1,1,27 m²,Alquiler,Departamento,NaN
MLA1130934078,Usado,Sí,No,2,50 m²,1,3,50 m²,Alquiler,Departamento,NaN
MLA1130644078,Usado,NaN,NaN,1,42 m²,1,2,45 m²,Alquiler,Departamento,NaN
MLA1131296140,Usado,NaN,Sí,2,90 m²,1,3,95 m²,Alquiler,Departamento,NaN
MLA1131198343,Nuevo,Sí,No,2,97 m²,2,3,97 m²,Alquiler,Departamento,NaN
MLA1130652075,Usado,Sí,Sí,1,230 m²,3,1,270 m²,Alquiler,Departamento,No
MLA1130803074,Usado,NaN,NaN,2,92 m²,2,3,92 m²,Alquiler,Departamento,NaN
MLA1131153607,Nuevo,No,No,1,30 m²,1,1,32 m²,Alquiler,Departamento,NaN
MLA1131142106,Nuevo,No,No,1,27 m²,1,1,27 m²,Alquiler,Departamento,No
MLA1131412995,NaN,NaN,NaN,1,36 m²,1,1,36 m²,Alquiler,Departamento,NaN
MLA1123296980,Usado,NaN,NaN,1,30 m²,1,2,30 m²,Alquiler,Departamento,NaN
MLA1124680615,NaN,No,No,1,30 m²,1,2,30 m²,Alquiler,Departamento,No
MLA1127331378,Usado,No,Sí,0,60 m²,1,3,65 m²,Alquiler,Departamento,No
MLA1125440762,NaN,NaN,NaN,1,20 m²,1,1,20 m²,Alquiler,Departamento,No

In [9]:
dict_select = {}
dict_global2 = {}

In [10]:
for i in range (len(d["results"])):
    dict_select = {}
    dict_select["price"] = d["results"][i]["price"]
    dict_select["currency_id"] = d["results"][i]["currency_id"]
    dict_select["official_store_id"] = d["results"][i]["official_store_id"]
    dict_select["stop_time"] = d["results"][i]["stop_time"]
    dict_select["official_store_id"] = d["results"][i]["official_store_id"]
    dict_select["seller.id"] = d["results"][i]["seller"]["id"]
    dict_select["location.longitude"] = d["results"][i]["location"]["longitude"]
    dict_select["location.latitude"] = d["results"][i]["location"]["latitude"]
    dict_select["location.address_line"] = d["results"][i]["location"]["address_line"]
    dict_select["location.country.id"] = d["results"][i]["location"]["country"]["id"]
    dict_select["prices_last_updated"] = d["results"][i]["prices"]["prices"][0]["last_updated"]
    dict_global2[d["results"][i]["id"]] = dict_select

In [11]:
dict_global2

{'MLA1130578098': {'price': 43500,
  'currency_id': 'ARS',
  'official_store_id': 2695,
  'stop_time': '2022-06-03T04:00:00.000Z',
  'seller.id': 155651025,
  'location.longitude': -58.457867,
  'location.latitude': -34.61696,
  'location.address_line': 'Donato Alvarez al 700',
  'location.country.id': 'AR',
  'prices_last_updated': '2022-04-04T18:23:46Z'},
 'MLA1130495400': {'price': 60000,
  'currency_id': 'ARS',
  'official_store_id': None,
  'stop_time': '2022-06-02T15:59:33.000Z',
  'seller.id': 173700530,
  'location.longitude': -58.461285,
  'location.latitude': -34.54327,
  'location.address_line': 'Av. del Libertador & Manzanares, Buenos Aires, Argentina',
  'location.country.id': 'AR',
  'prices_last_updated': '2022-04-03T02:49:46Z'},
 'MLA1130906965': {'price': 35000,
  'currency_id': 'ARS',
  'official_store_id': None,
  'stop_time': '2022-06-05T04:00:00.000Z',
  'seller.id': 132756485,
  'location.longitude': -60.629326,
  'location.latitude': -32.957275,
  'location.address_line': 'Zeballos al 300',
  'location.country.id': 'AR',
  'prices_last_updated': '2022-04-06T11:22:45Z'},
 'MLA1130879219': {'price': 45000,
  'currency_id': 'ARS',
  'official_store_id': None,
  'stop_time': '2022-06-04T04:03:59.000Z',
  'seller.id': 16987222,
  'location.longitude': -58.44402,
  'location.latitude': -34.61069,
  'location.address_line': 'Colpayo 848, AWN, Buenos Aires, Argentina',
  'location.country.id': 'AR',
  'prices_last_updated': '2022-04-05T21:41:50Z'},
 'MLA1130467824': {'price': 80000,
  'currency_id': 'ARS',
  'official_store_id': None,
  'stop_time': '2022-06-02T04:04:48.000Z',
  'seller.id': 716888392,
  'location.longitude': -58.499332,
  'location.latitude': -34.581936,
  'location.address_line': 'Griveo 2506, Buenos Aires, Argentina',
  'location.country.id': 'AR',
  'prices_last_updated': '2022-04-03T04:50:34Z'},
 'MLA1131203138': {'price': 120000,
  'currency_id': 'ARS',
  'official_store_id': None,
  'stop_time': '2022-06-06T04:00:00.000Z',
  'seller.id': 133189506,
  'location.longitude': -58.376312,
  'location.latitude': -34.599953,
  'location.address_line': 'Viamonte  600 7°',
  'location.country.id': 'AR',
  'prices_last_updated': '2022-04-07T17:51:33Z'},
 'MLA1130678452': {'price': 60000,
  'currency_id': 'ARS',
  'official_store_id': None,
  'stop_time': '2022-04-16T04:00:00.000Z',
  'seller.id': 22957738,
  'location.longitude': -58.435345,
  'location.latitude': -34.62022,
  'location.address_line': 'Avenida José María Moreno 200, Buenos Aires, Argentina',
  'location.country.id': 'AR',
  'prices_last_updated': '2022-04-04T22:41:33Z'},
 'MLA1131284539': {'price': 120000,
  'currency_id': 'ARS',
  'official_store_id': None,
  'stop_time': '2022-05-09T04:00:00.000Z',
  'seller.id': 817791893,
  'location.longitude': -58.46353,
  'location.latitude': -34.627647,
  'location.address_line': 'Retasado! Enorme 4 Ambientes con Dependencia',
  'location.country.id': 'AR',
  'prices_last_updated': '2022-04-08T14:29:54Z'},
 'MLA1131053279': {'price': 80000,
  'currency_id': 'ARS',
  'official_store_id': 2695,
  'stop_time': '2022-06-05T04:00:00.000Z',
  'seller.id': 155651025,
  'location.longitude': -58.431408,
  'location.latitude': -34.60138,
  'location.address_line': 'Estado de Israel al 4700',
  'location.country.id': 'AR',
  'prices_last_updated': '2022-04-06T20:54:35Z'},
 'MLA1131469805': {'price': 80000,
  'currency_id': 'ARS',
  'official_store_id': None,
  'stop_time': '2022-06-08T04:00:00.000Z',
  'seller.id': 466036843,
  'location.longitude': -58.436577,
  'location.latitude': -34.57349,
  'location.address_line': 'CONCEPCIÓN ARENAL 2323',
  'location.country.id': 'AR',
  'prices_last_updated': '2022-04-09T16:33:14Z'},
 'MLA1131011236': {'price': 69000,
  'currency_id': 'ARS',
  'official_store_id': None,
  'stop_time': '2022-06-05T05:19:56.000Z',
  'seller.id': 173939009,
  'location.longitude': -58.489265,
  'location.latitude': -34.57609,
  'location.address_line': 'monroe 5300',
  'location.country.id': 'AR',
  'prices_last_updated': '2022-04-06T19:20:43Z'},
 'MLA1131399340': {'price': 2700,
  'currency_id': 'USD',
  'official_store_id': 2810,
  'stop_time': '2022-06-07T04:00:00.000Z',
  'seller.id': 213570822,
  'location.longitude': -58.447475,
  'location.latitude': -34.55724,
  'location.address_line': 'Av. Libertador al 2300',
  'location.country.id': 'AR',
  'prices_last_updated': '2022-04-08T19:34:42Z'},
 'MLA1130847470': {'price': 195000,
  'currency_id': 'ARS',
  'official_store_id': None,
  'stop_time': '2022-06-04T04:00:00.000Z',
  'seller.id': 197258883,
  'location.longitude': -58.482582,
  'location.latitude': -34.505943,
  'location.address_line': 'Rosales 2700',
  'location.country.id': 'AR',
  'prices_last_updated': '2022-04-05T20:59:56Z'},
 'MLA1131061516': {'price': 85000,
  'currency_id': 'ARS',
  'official_store_id': None,
  'stop_time': '2022-06-05T04:00:00.000Z',
  'seller.id': 45669359,
  'location.longitude': -58.421986,
  'location.latitude': -34.60733,
  'location.address_line': 'Potosi 3940',
  'location.country.id': 'AR',
  'prices_last_updated': '2022-04-06T22:37:02Z'},
 'MLA1130637339': {'price': 2500,
  'currency_id': 'USD',
  'official_store_id': 2810,
  'stop_time': '2022-06-03T04:00:00.000Z',
  'seller.id': 213570822,
  'location.longitude': -58.363827,
  'location.latitude': -34.60457,
  'location.address_line': 'Macacha Güemes al 300',
  'location.country.id': 'AR',
  'prices_last_updated': '2022-04-04T16:50:40Z'},
 'MLA1130897004': {'price': 4800,
  'currency_id': 'USD',
  'official_store_id': None,
  'stop_time': '2022-06-04T04:00:00.000Z',
  'seller.id': 277456148,
  'location.longitude': -58.374615,
  'location.latitude': -34.59547,
  'location.address_line': 'Edificio Kavanagh',
  'location.country.id': 'AR',
  'prices_last_updated': '2022-04-05T20:50:34Z'},
 'MLA1130637291': {'price': 50000,
  'currency_id': 'ARS',
  'official_store_id': None,
  'stop_time': '2022-06-28T04:00:00.000Z',
  'seller.id': 810828875,
  'location.longitude': -60.637207,
  'location.latitude': -32.940712,
  'location.address_line': 'AJC, Catamarca 1127, Rosario, Provincia de Santa Fe, Argentina',
  'location.country.id': 'AR',
  'prices_last_updated': '2022-04-04T16:45:47Z'},
 'MLA1131139668': {'price': 650,
  'currency_id': 'USD',
  'official_store_id': 2810,
  'stop_time': '2022-06-06T04:00:00.000Z',
  'seller.id': 213570822,
  'location.longitude': -58.387486,
  'location.latitude': -34.590942,
  'location.address_line': 'Montevideo al 1600',
  'location.country.id': 'AR',
  'prices_last_updated': '2022-04-07T14:08:09Z'},
 'MLA1131287180': {'price': 200000,
  'currency_id': 'ARS',
  'official_store_id': None,
  'stop_time': '2022-06-06T04:00:00.000Z',
  'seller.id': 394048426,
  'location.longitude': -58.397278,
  'location.latitude': -34.587383,
  'location.address_line': 'Av Santa Fe al 1800',
  'location.country.id': 'AR',
  'prices_last_updated': '2022-04-08T02:32:40Z'},
 'MLA1130830773': {'price': 75000,
  'currency_id': 'ARS',
  'official_store_id': None,
  'stop_time': '2022-08-13T04:00:00.000Z',
  'seller.id': 12062927,
  'location.longitude': -60.66577,
  'location.latitude': -32.92709,
  'location.address_line': 'Thedy al 100',
  'location.country.id': 'AR',
  'prices_last_updated': '2022-04-06T00:12:04Z'},
 'MLA1131116892': {'price': 70000,
  'currency_id': 'ARS',
  'official_store_id': None,
  'stop_time': '2022-05-29T04:00:00.000Z',
  'seller.id': 349240856,
  'location.longitude': -64.26438,
  'location.latitude': -31.399254,
  'location.address_line': 'Fermin Manrrique 4241 PB',
  'location.country.id': 'AR',
  'prices_last_updated': '2022-04-07T12:50:07Z'},
 'MLA1131172523': {'price': 2800,
  'currency_id': 'USD',
  'official_store_id': None,
  'stop_time': '2022-06-06T04:00:00.000Z',
  'seller.id': 381300568,
  'location.longitude': -58.360973,
  'location.latitude': -34.612335,
  'location.address_line': 'Mulieris Piso Alto Alquiler',
  'location.country.id': 'AR',
  'prices_last_updated': '2022-04-07T16:45:58Z'},
 'MLA1131202332': {'price': 38000,
  'currency_id': 'ARS',
  'official_store_id': None,
  'stop_time': '2022-06-06T04:12:23.000Z',
  'seller.id': 20520611,
  'location.longitude': -58.378418,
  'location.latitude': -34.626762,
  'location.address_line': 'Bernardo de Irigoyen 1556, Buenos Aires, Argentina',
  'location.country.id': 'AR',
  'prices_last_updated': '2022-04-08T22:21:41Z'},
 'MLA1130921257': {'price': 2150,
  'currency_id': 'USD',
  'official_store_id': None,
  'stop_time': '2022-06-05T04:00:00.000Z',
  'seller.id': 381300568,
  'location.longitude': -58.361053,
  'location.latitude': -34.611156,
  'location.address_line': 'Azucena Villaflor al 400',
  'location.country.id': 'AR',
  'prices_last_updated': '2022-04-06T13:35:27Z'},
 'MLA1131385153': {'price': 50000,
  'currency_id': 'ARS',
  'official_store_id': None,
  'stop_time': '2022-08-07T04:00:00.000Z',
  'seller.id': 163966752,
  'location.longitude': -58.459766,
  'location.latitude': -34.603615,
  'location.address_line': 'Magariños Cervantes al 1900',
  'location.country.id': 'AR',
  'prices_last_updated': '2022-04-08T17:46:09Z'},
 'MLA1131094018': {'price': 10000,
  'currency_id': 'USD',
  'official_store_id': None,
  'stop_time': '2022-06-05T04:00:00.000Z',
  'seller.id': 277456148,
  'location.longitude': -58.401554,
  'location.latitude': -34.575657,
  'location.address_line': 'Le Parc Demaria',
  'location.country.id': 'AR',
  'prices_last_updated': '2022-04-06T22:58:54Z'},
 'MLA1130921309': {'price': 3200,
  'currency_id': 'USD',
  'official_store_id': None,
  'stop_time': '2022-06-05T04:00:00.000Z',
  'seller.id': 381300568,
  'location.longitude': -58.361286,
  'location.latitude': -34.609974,
  'location.address_line': 'Marta Lynch al al 500',
  'location.country.id': 'AR',
  'prices_last_updated': '2022-04-06T13:39:24Z'},
 'MLA1131082288': {'price': 78000,
  'currency_id': 'ARS',
  'official_store_id': None,
  'stop_time': '2022-05-01T04:00:00.000Z',
  'seller.id': 154985322,
  'location.longitude': -58.375977,
  'location.latitude': -34.619736,
  'location.address_line': 'Carlos Calvo 706, Buenos Aires, Argentina',
  'location.country.id': 'AR',
  'prices_last_updated': '2022-04-07T01:05:31Z'},
 'MLA1131068427': {'price': 100000,
  'currency_id': 'ARS',
  'official_store_id': None,
  'stop_time': '2022-06-05T04:00:17.000Z',
  'seller.id': 104048,
  'location.longitude': -58.420662,
  'location.latitude': -34.60222,
  'location.address_line': 'Avenida Medrano 685, Buenos Aires, Argentina',
  'location.country.id': 'AR',
  'prices_last_updated': '2022-04-06T23:09:33Z'},
 'MLA1131211902': {'price': 40000,
  'currency_id': 'ARS',
  'official_store_id': None,
  'stop_time': '2022-06-06T04:00:11.000Z',
  'seller.id': 59598853,
  'location.longitude': -58.401463,
  'location.latitude': -34.611214,
  'location.address_line': 'Alberti 120',
  'location.country.id': 'AR',
  'prices_last_updated': '2022-04-07T23:49:04Z'},
 'MLA1130632431': {'price': 80000,
  'currency_id': 'ARS',
  'official_store_id': None,
  'stop_time': '2022-06-04T01:25:32.000Z',
  'seller.id': 777047155,
  'location.longitude': -58.46465,
  'location.latitude': -34.604237,
  'location.address_line': 'Avenida Teniente General Donato Álvarez 2028, Buenos Aires, Argentina',
  'location.country.id': 'AR',
  'prices_last_updated': '2022-04-04T18:29:15Z'},
 'MLA1131035865': {'price': 32900,
  'currency_id': 'ARS',
  'official_store_id': None,
  'stop_time': '2022-06-05T04:01:05.000Z',
  'seller.id': 59142192,
  'location.longitude': -58.46282,
  'location.latitude': -34.686096,
  'location.address_line': 'Av. Soldado de la Frontera 5500, Buenos Aires, Argentina',
  'location.country.id': 'AR',
  'prices_last_updated': '2022-04-06T22:03:36Z'},
 'MLA1131385152': {'price': 23000,
  'currency_id': 'ARS',
  'official_store_id': None,
  'stop_time': '2022-08-07T04:00:00.000Z',
  'seller.id': 163966752,
  'location.longitude': -58.565567,
  'location.latitude': -34.640274,
  'location.address_line': 'Leandro N. Alem 100',
  'location.country.id': 'AR',
  'prices_last_updated': '2022-04-08T17:46:08Z'},
 'MLA1131321320': {'price': 43000,
  'currency_id': 'ARS',
  'official_store_id': None,
  'stop_time': '2022-06-08T02:14:44.000Z',
  'seller.id': 45248768,
  'location.longitude': -58.615906,
  'location.latitude': -34.65325,
  'location.address_line': 'Uruguay  800',
  'location.country.id': 'AR',
  'prices_last_updated': '2022-04-08T10:26:49Z'},
 'MLA1131350131': {'price': 68000,
  'currency_id': 'ARS',
  'official_store_id': None,
  'stop_time': '2022-06-07T04:05:00.000Z',
  'seller.id': 519935141,
  'location.longitude': -58.53106,
  'location.latitude': -34.478256,
  'location.address_line': 'Diego Palma Al 400',
  'location.country.id': 'AR',
  'prices_last_updated': '2022-04-09T02:23:38Z'},
 'MLA1130724080': {'price': 32000,
  'currency_id': 'ARS',
  'official_store_id': None,
  'stop_time': '2022-09-11T04:00:00.000Z',
  'seller.id': 316452948,
  'location.longitude': -58.7322,
  'location.latitude': -34.523212,
  'location.address_line': 'Doctor René Favaloro 3850, José C. Paz, Provincia de Buenos Aires, Argentina',
  'location.country.id': 'AR',
  'prices_last_updated': '2022-04-05T13:53:03Z'},
 'MLA1130504090': {'price': 39500,
  'currency_id': 'ARS',
  'official_store_id': None,
  'stop_time': '2022-06-04T21:23:14.000Z',
  'seller.id': 92970,
  'location.longitude': -58.401047,
  'location.latitude': -34.593693,
  'location.address_line': 'Arenales 2432, Buenos Aires, Argentina',
  'location.country.id': 'AR',
  'prices_last_updated': '2022-04-08T18:47:11Z'},
 'MLA1130934078': {'price': 23000,
  'currency_id': 'ARS',
  'official_store_id': None,
  'stop_time': '2022-04-30T04:00:00.000Z',
  'seller.id': 191132735,
  'location.longitude': -64.22942,
  'location.latitude': -31.474459,
  'location.address_line': 'Alto Del Tala  5400 1°',
  'location.country.id': 'AR',
  'prices_last_updated': '2022-04-06T13:24:02Z'},
 'MLA1130644078': {'price': 60000,
  'currency_id': 'ARS',
  'official_store_id': None,
  'stop_time': '2022-06-04T03:24:43.000Z',
  'seller.id': 777047155,
  'location.longitude': -58.46465,
  'location.latitude': -34.604237,
  'location.address_line': 'Avenida Teniente General Donato Álvarez 2028, Buenos Aires, Argentina',
  'location.country.id': 'AR',
  'prices_last_updated': '2022-04-04T17:42:19Z'},
 'MLA1131296140': {'price': 85000,
  'currency_id': 'ARS',
  'official_store_id': None,
  'stop_time': '2022-06-07T04:01:21.000Z',
  'seller.id': 77580882,
  'location.longitude': -58.4518,
  'location.latitude': -34.569992,
  'location.address_line': 'Virrey Loreto 2400 - 2700, Buenos Aires, Argentina',
  'location.country.id': 'AR',
  'prices_last_updated': '2022-04-08T13:15:13Z'},
 'MLA1131198343': {'price': 130000,
  'currency_id': 'ARS',
  'official_store_id': None,
  'stop_time': '2022-05-03T04:00:00.000Z',
  'seller.id': 54376592,
  'location.longitude': -57.5329,
  'location.latitude': -38.02564,
  'location.address_line': 'Aristobulo del Valle 3400',
  'location.country.id': 'AR',
  'prices_last_updated': '2022-04-07T17:06:04Z'},
 'MLA1130652075': {'price': 150000,
  'currency_id': 'ARS',
  'official_store_id': None,
  'stop_time': '2022-06-07T14:20:55.000Z',
  'seller.id': 59401759,
  'location.longitude': -58.41662,
  'location.latitude': -34.638893,
  'location.address_line': 'Avenida Caseros 3671, Buenos Aires, Argentina',
  'location.country.id': 'AR',
  'prices_last_updated': '2022-04-04T20:37:32Z'},
 'MLA1130803074': {'price': 80000,
  'currency_id': 'ARS',
  'official_store_id': None,
  'stop_time': '2022-06-04T04:00:54.000Z',
  'seller.id': 45887917,
  'location.longitude': -58.388214,
  'location.latitude': -34.599934,
  'location.address_line': 'Paraná 754, Buenos Aires, Argentina',
  'location.country.id': 'AR',
  'prices_last_updated': '2022-04-05T18:07:01Z'},
 'MLA1131153607': {'price': 32000,
  'currency_id': 'ARS',
  'official_store_id': None,
  'stop_time': '2022-06-12T04:00:00.000Z',
  'seller.id': 70613308,
  'location.longitude': -57.549484,
  'location.latitude': -38.002506,
  'location.address_line': 'BOLIVAR 2600',
  'location.country.id': 'AR',
  'prices_last_updated': '2022-04-07T17:10:05Z'},
 'MLA1131142106': {'price': 30000,
  'currency_id': 'ARS',
  'official_store_id': None,
  'stop_time': '2022-06-12T04:00:00.000Z',
  'seller.id': 70613308,
  'location.longitude': -57.54472,
  'location.latitude': -37.984665,
  'location.address_line': 'boulevard maritimo 2500',
  'location.country.id': 'AR',
  'prices_last_updated': '2022-04-07T17:08:05Z'},
 'MLA1131412995': {'price': 42000,
  'currency_id': 'ARS',
  'official_store_id': None,
  'stop_time': '2022-06-08T04:00:42.000Z',
  'seller.id': 126791510,
  'location.longitude': -58.46276,
  'location.latitude': -34.603947,
  'location.address_line': 'Camarones 1500',
  'location.country.id': 'AR',
  'prices_last_updated': '2022-04-09T15:36:47Z'},
 'MLA1123296980': {'price': 25000,
  'currency_id': 'ARS',
  'official_store_id': None,
  'stop_time': '2022-04-13T04:00:39.000Z',
  'seller.id': 166858592,
  'location.longitude': -58.39073,
  'location.latitude': -34.608482,
  'location.address_line': 'Rodríguez Peña 56, Capital Federal, Argentina',
  'location.country.id': 'AR',
  'prices_last_updated': '2022-02-12T15:51:55Z'},
 'MLA1124680615': {'price': 19000,
  'currency_id': 'ARS',
  'official_store_id': None,
  'stop_time': '2022-04-24T04:00:00.000Z',
  'seller.id': 781954455,
  'location.longitude': -58.338837,
  'location.latitude': -34.683422,
  'location.address_line': 'Estanislao zeballos 3800',
  'location.country.id': 'AR',
  'prices_last_updated': '2022-03-31T19:53:21Z'},
 'MLA1127331378': {'price': 45000,
  'currency_id': 'ARS',
  'official_store_id': None,
  'stop_time': '2022-05-10T04:00:00.000Z',
  'seller.id': 36688523,
  'location.longitude': -58.42175,
  'location.latitude': -34.62124,
  'location.address_line': 'Independencia 3969',
  'location.country.id': 'AR',
  'prices_last_updated': '2022-03-29T11:50:36Z'},
 'MLA1125440762': {'price': 39000,
  'currency_id': 'ARS',
  'official_store_id': None,
  'stop_time': '2022-04-30T04:00:00.000Z',
  'seller.id': 197210438,
  'location.longitude': -58.45772,
  'location.latitude': -34.632565,
  'location.address_line': 'Directorio SN',
  'location.country.id': 'AR',
  'prices_last_updated': '2022-03-23T21:34:56Z'}}

In [12]:
df_select = pd.DataFrame.from_dict(dict_global2)

In [13]:
df_select.T.head()

,price,currency_id,official_store_id,stop_time,seller.id,location.longitude,location.latitude,location.address_line,location.country.id,prices_last_updated
MLA1130578098,43500,ARS,2695,2022-06-03T04:00:00.000Z,155651025,-58.457867,-34.61696,Donato Alvarez al 700,AR,2022-04-04T18:23:46Z
MLA1130495400,60000,ARS,None,2022-06-02T15:59:33.000Z,173700530,-58.461285,-34.54327,"Av. del Libertador & Manzanares, Buenos Aires,...",AR,2022-04-03T02:49:46Z
MLA1130906965,35000,ARS,None,2022-06-05T04:00:00.000Z,132756485,-60.629326,-32.957275,Zeballos al 300,AR,2022-04-06T11:22:45Z
MLA1130879219,45000,ARS,None,2022-06-04T04:03:59.000Z,16987222,-58.44402,-34.61069,"Colpayo 848, AWN, Buenos Aires, Argentina",AR,2022-04-05T21:41:50Z
MLA1130467824,80000,ARS,None,2022-06-02T04:04:48.000Z,716888392,-58.499332,-34.581936,"Griveo 2506, Buenos Aires, Argentina",AR,2022-04-03T04:50:34Z

In [14]:
df_features = df_select.T.join(df_attr.T)

In [15]:
df_features.describe()

,price,currency_id,official_store_id,stop_time,seller.id,location.longitude,location.latitude,location.address_line,location.country.id,prices_last_updated,...,Línea telefónica,Aire acondicionado,Dormitorios,Superficie cubierta,Baños,Ambientes,Superficie total,Operación,Inmueble,Tour virtual
count,50,50,5,50,50,50.00000,50.000000,50,50,50,...,24,31,50,50,50,50,50,50,50,11
unique,38,2,2,37,41,49.00000,49.000000,49,1,50,...,2,2,6,38,5,6,39,1,1,1
top,80000,ARS,2810,2022-06-05T04:00:00.000Z,213570822,-58.46465,-34.604237,"Avenida Teniente General Donato Álvarez 2028, ...",AR,2022-04-04T18:23:46Z,...,No,No,1,45 m²,1,3,50 m²,Alquiler,Departamento,No
freq,5,42,3,6,3,2.00000,2.000000,2,50,1,...,18,17,24,3,34,17,3,50,50,11

In [16]:
df_att=df_attr.T.drop(['Tour virtual'], axis=1)

Los rasgos básicos de la base de datos son los que vienen desde el objeto de atributos del JSON

| Nombre | Tipo de variable |
| --- | --- |
| Condición del ítem | Binaria |
| Línea telefónica | Binaria |
| Dormitorios | Binaria |
| Superfice cubierta | Entero? m2|
| Baños | Entero |
| Ambientes | Entero | 
| Superficie total | Entero? m2| 
| Operación | Binario |
| Inmueble | Binario |

Deberia poder sacar las unidades de las columnas de area """.str.replace"""

In [17]:
df_att[["Superficie cubierta","Superficie total"]] = df_att[["Superficie cubierta","Superficie total"]].replace({'m²':''}, regex=True)

In [18]:
df_att.describe()

,Condición del ítem,Línea telefónica,Aire acondicionado,Dormitorios,Superficie cubierta,Baños,Ambientes,Superficie total,Operación,Inmueble
count,43,24,31,50,50,50,50,50,50,50
unique,2,2,2,6,38,5,6,39,1,1
top,Usado,No,No,1,45,1,3,50,Alquiler,Departamento
freq,36,18,17,24,3,34,17,3,50,50

In [19]:
df_select.T.head()

,price,currency_id,official_store_id,stop_time,seller.id,location.longitude,location.latitude,location.address_line,location.country.id,prices_last_updated
MLA1130578098,43500,ARS,2695,2022-06-03T04:00:00.000Z,155651025,-58.457867,-34.61696,Donato Alvarez al 700,AR,2022-04-04T18:23:46Z
MLA1130495400,60000,ARS,None,2022-06-02T15:59:33.000Z,173700530,-58.461285,-34.54327,"Av. del Libertador & Manzanares, Buenos Aires,...",AR,2022-04-03T02:49:46Z
MLA1130906965,35000,ARS,None,2022-06-05T04:00:00.000Z,132756485,-60.629326,-32.957275,Zeballos al 300,AR,2022-04-06T11:22:45Z
MLA1130879219,45000,ARS,None,2022-06-04T04:03:59.000Z,16987222,-58.44402,-34.61069,"Colpayo 848, AWN, Buenos Aires, Argentina",AR,2022-04-05T21:41:50Z
MLA1130467824,80000,ARS,None,2022-06-02T04:04:48.000Z,716888392,-58.499332,-34.581936,"Griveo 2506, Buenos Aires, Argentina",AR,2022-04-03T04:50:34Z