In [2]:
import json 
import pandas as pd 
import numpy as np
with open('response_demo.json') as f:
    d = json.load(f)

In [3]:
d["results"][0]
#es un diccionario con el primer ítem, me interesa el elemento "atributtes" que a su vez una lista

{'id': 'MLA1131635093',
 'site_id': 'MLA',
 'title': 'Departamento - Palermo Viejo',
 'seller': {'id': 138924430,
  'permalink': 'http://perfil.mercadolibre.com.ar/CI-RE+PROPIEDADES',
  'registration_date': '2013-05-21T17:07:48.000-04:00',
  'car_dealer': False,
  'real_estate_agency': True,
  'tags': ['real_estate_agency', 'nsm_low', 'messages_as_seller'],
  'seller_reputation': {'power_seller_status': None,
   'level_id': None,
   'metrics': {'cancellations': {'period': '365 days', 'rate': 0, 'value': 0},
    'claims': {'period': '365 days', 'rate': 0, 'value': 0},
    'delayed_handling_time': {'period': '365 days', 'rate': 0, 'value': 0},
    'sales': {'period': '365 days', 'completed': 0}},
   'transactions': {'canceled': 0,
    'period': 'historic',
    'total': 0,
    'ratings': {'negative': 0, 'neutral': 0, 'positive': 0},
    'completed': 0}}},
 'price': 65000,
 'prices': {'id': 'MLA1131635093',
  'prices': [{'id': '1',
    'type': 'standard',
    'amount': 65000,
    'regular_amount': None,
    'currency_id': 'ARS',
    'last_updated': '2022-04-11T18:23:37Z',
    'conditions': {'context_restrictions': [],
     'start_time': None,
     'end_time': None,
     'eligible': True},
    'exchange_rate_context': 'DEFAULT',
    'metadata': {}}],
  'presentation': {'display_currency': 'ARS'},
  'payment_method_prices': [],
  'reference_prices': [],
  'purchase_discounts': []},
 'sale_price': None,
 'currency_id': 'ARS',
 'available_quantity': 1,
 'sold_quantity': 0,
 'buying_mode': 'classified',
 'listing_type_id': 'gold_premium',
 'stop_time': '2022-06-10T04:00:00.000Z',
 'condition': 'used',
 'permalink': 'https://departamento.mercadolibre.com.ar/MLA-1131635093-departamento-palermo-viejo-_JM',
 'thumbnail': 'http://http2.mlstatic.com/D_690271-MLA49635615735_042022-I.jpg',
 'thumbnail_id': '690271-MLA49635615735_042022',
 'accepts_mercadopago': False,
 'installments': None,
 'address': {'state_id': 'TUxBUENBUGw3M2E1',
  'state_name': 'Capital Federal',
  'city_id': 'TUxBQ0NBUGZlZG1sYQ',
  'city_name': 'Capital Federal',
  'area_code': '',
  'phone1': ''},
 'shipping': {'free_shipping': False,
  'mode': 'not_specified',
  'tags': [],
  'logistic_type': 'not_specified',
  'store_pick_up': False},
 'seller_address': {'id': '',
  'comment': '',
  'address_line': '',
  'zip_code': '',
  'country': {'id': 'AR', 'name': 'Argentina'},
  'state': {'id': 'AR-C', 'name': 'Capital Federal'},
  'city': {'id': 'TUxBQkFMTTMwNTBa', 'name': 'Almagro'},
  'latitude': '',
  'longitude': ''},
 'seller_contact': {'contact': 'Ci-Re Negocios Inmobiliarios',
  'other_info': '',
  'area_code': '',
  'phone': '',
  'area_code2': '',
  'phone2': '',
  'email': '',
  'webpage': ''},
 'location': {'address_line': 'Araoz al 1100',
  'zip_code': '',
  'subneighborhood': None,
  'neighborhood': {'id': 'TUxBQlBBTDE5ODla', 'name': 'Palermo Viejo'},
  'city': {'id': 'TUxBQ0NBUGZlZG1sYQ', 'name': 'Capital Federal'},
  'state': {'id': 'TUxBUENBUGw3M2E1', 'name': 'Capital Federal'},
  'country': {'id': 'AR', 'name': 'Argentina'},
  'latitude': -34.5947,
  'longitude': -58.42917},
 'attributes': [{'attribute_group_id': '',
   'id': 'ITEM_CONDITION',
   'name': 'Condición del ítem',
   'value_struct': None,
   'values': [{'name': 'Usado', 'struct': None, 'source': 1, 'id': '2230581'}],
   'value_id': '2230581',
   'value_name': 'Usado',
   'attribute_group_name': '',
   'source': 1},
  {'id': 'HAS_TELEPHONE_LINE',
   'name': 'Línea telefónica',
   'value_name': 'Sí',
   'values': [{'source': 4709975701260268,
     'id': '242085',
     'name': 'Sí',
     'struct': None}],
   'attribute_group_id': 'CARACTERISTICAS',
   'value_id': '242085',
   'value_struct': None,
   'attribute_group_name': 'Características adicionales',
   'source': 4709975701260268},
  {'name': 'Aire acondicionado',
   'value_struct': None,
   'attribute_group_id': 'COMOYAMEN',
   'source': 4709975701260268,
   'id': 'HAS_AIR_CONDITIONING',
   'value_id': '242084',
   'value_name': 'No',
   'values': [{'source': 4709975701260268,
     'id': '242084',
     'name': 'No',
     'struct': None}],
   'attribute_group_name': 'Comodidades y amenities'},
  {'values': [{'name': '2',
     'struct': None,
     'source': 4709975701260268,
     'id': None}],
   'attribute_group_id': 'FIND',
   'attribute_group_name': 'Ficha técnica',
   'source': 4709975701260268,
   'name': 'Dormitorios',
   'value_id': None,
   'value_name': '2',
   'value_struct': None,
   'id': 'BEDROOMS'},
  {'value_struct': {'number': 48, 'unit': 'm²'},
   'values': [{'id': None,
     'name': '48 m²',
     'struct': {'number': 48, 'unit': 'm²'},
     'source': 4709975701260268}],
   'attribute_group_id': 'FIND',
   'attribute_group_name': 'Ficha técnica',
   'source': 4709975701260268,
   'id': 'COVERED_AREA',
   'value_id': None,
   'value_name': '48 m²',
   'name': 'Superficie cubierta'},
  {'values': [{'id': None,
     'name': '1',
     'struct': None,
     'source': 4709975701260268}],
   'attribute_group_name': 'Ficha técnica',
   'source': 4709975701260268,
   'id': 'FULL_BATHROOMS',
   'name': 'Baños',
   'value_struct': None,
   'value_id': None,
   'value_name': '1',
   'attribute_group_id': 'FIND'},
  {'attribute_group_id': 'FIND',
   'attribute_group_name': 'Ficha técnica',
   'name': 'Ambientes',
   'value_id': None,
   'value_name': '3',
   'value_struct': None,
   'values': [{'name': '3',
     'struct': None,
     'source': 4709975701260268,
     'id': None}],
   'id': 'ROOMS',
   'source': 4709975701260268},
  {'id': 'TOTAL_AREA',
   'name': 'Superficie total',
   'value_id': None,
   'values': [{'id': None,
     'name': '51 m²',
     'struct': {'unit': 'm²', 'number': 51},
     'source': 4709975701260268}],
   'attribute_group_id': 'FIND',
   'attribute_group_name': 'Ficha técnica',
   'value_name': '51 m²',
   'value_struct': {'number': 51, 'unit': 'm²'},
   'source': 4709975701260268},
  {'name': 'Operación',
   'value_name': 'Alquiler',
   'values': [{'struct': None,
     'source': 1,
     'id': '242073',
     'name': 'Alquiler'}],
   'attribute_group_id': 'MAIN',
   'attribute_group_name': 'Principales',
   'id': 'OPERATION',
   'value_id': '242073',
   'value_struct': None,
   'source': 1},
  {'id': 'PROPERTY_TYPE',
   'value_id': '242062',
   'value_struct': None,
   'source': 1,
   'name': 'Inmueble',
   'value_name': 'Departamento',
   'values': [{'id': '242062',
     'name': 'Departamento',
     'struct': None,
     'source': 1}],
   'attribute_group_id': 'MAIN',
   'attribute_group_name': 'Principales'}],
 'original_price': None,
 'category_id': 'MLA1473',
 'official_store_id': None,
 'domain_id': 'MLA-APARTMENTS_FOR_RENT',
 'catalog_product_id': None,
 'tags': [],
 'order_backend': 1,
 'use_thumbnail_id': True,
 'offer_score': None,
 'offer_share': None,
 'match_score': None,
 'winner_item_id': None,
 'melicoin': None,
 'discounts': None}

In [4]:
d["results"][0]["attributes"] 
#ahora veo una lista de atributos, cada uno de ellos es un diccionario con las mismas "keys"

[{'attribute_group_id': '',
  'id': 'ITEM_CONDITION',
  'name': 'Condición del ítem',
  'value_struct': None,
  'values': [{'name': 'Usado', 'struct': None, 'source': 1, 'id': '2230581'}],
  'value_id': '2230581',
  'value_name': 'Usado',
  'attribute_group_name': '',
  'source': 1},
 {'id': 'HAS_TELEPHONE_LINE',
  'name': 'Línea telefónica',
  'value_name': 'Sí',
  'values': [{'source': 4709975701260268,
    'id': '242085',
    'name': 'Sí',
    'struct': None}],
  'attribute_group_id': 'CARACTERISTICAS',
  'value_id': '242085',
  'value_struct': None,
  'attribute_group_name': 'Características adicionales',
  'source': 4709975701260268},
 {'name': 'Aire acondicionado',
  'value_struct': None,
  'attribute_group_id': 'COMOYAMEN',
  'source': 4709975701260268,
  'id': 'HAS_AIR_CONDITIONING',
  'value_id': '242084',
  'value_name': 'No',
  'values': [{'source': 4709975701260268,
    'id': '242084',
    'name': 'No',
    'struct': None}],
  'attribute_group_name': 'Comodidades y amenities'},
 {'values': [{'name': '2',
    'struct': None,
    'source': 4709975701260268,
    'id': None}],
  'attribute_group_id': 'FIND',
  'attribute_group_name': 'Ficha técnica',
  'source': 4709975701260268,
  'name': 'Dormitorios',
  'value_id': None,
  'value_name': '2',
  'value_struct': None,
  'id': 'BEDROOMS'},
 {'value_struct': {'number': 48, 'unit': 'm²'},
  'values': [{'id': None,
    'name': '48 m²',
    'struct': {'number': 48, 'unit': 'm²'},
    'source': 4709975701260268}],
  'attribute_group_id': 'FIND',
  'attribute_group_name': 'Ficha técnica',
  'source': 4709975701260268,
  'id': 'COVERED_AREA',
  'value_id': None,
  'value_name': '48 m²',
  'name': 'Superficie cubierta'},
 {'values': [{'id': None,
    'name': '1',
    'struct': None,
    'source': 4709975701260268}],
  'attribute_group_name': 'Ficha técnica',
  'source': 4709975701260268,
  'id': 'FULL_BATHROOMS',
  'name': 'Baños',
  'value_struct': None,
  'value_id': None,
  'value_name': '1',
  'attribute_group_id': 'FIND'},
 {'attribute_group_id': 'FIND',
  'attribute_group_name': 'Ficha técnica',
  'name': 'Ambientes',
  'value_id': None,
  'value_name': '3',
  'value_struct': None,
  'values': [{'name': '3',
    'struct': None,
    'source': 4709975701260268,
    'id': None}],
  'id': 'ROOMS',
  'source': 4709975701260268},
 {'id': 'TOTAL_AREA',
  'name': 'Superficie total',
  'value_id': None,
  'values': [{'id': None,
    'name': '51 m²',
    'struct': {'unit': 'm²', 'number': 51},
    'source': 4709975701260268}],
  'attribute_group_id': 'FIND',
  'attribute_group_name': 'Ficha técnica',
  'value_name': '51 m²',
  'value_struct': {'number': 51, 'unit': 'm²'},
  'source': 4709975701260268},
 {'name': 'Operación',
  'value_name': 'Alquiler',
  'values': [{'struct': None,
    'source': 1,
    'id': '242073',
    'name': 'Alquiler'}],
  'attribute_group_id': 'MAIN',
  'attribute_group_name': 'Principales',
  'id': 'OPERATION',
  'value_id': '242073',
  'value_struct': None,
  'source': 1},
 {'id': 'PROPERTY_TYPE',
  'value_id': '242062',
  'value_struct': None,
  'source': 1,
  'name': 'Inmueble',
  'value_name': 'Departamento',
  'values': [{'id': '242062',
    'name': 'Departamento',
    'struct': None,
    'source': 1}],
  'attribute_group_id': 'MAIN',
  'attribute_group_name': 'Principales'}]

In [5]:
#puedo iterar sobre la lista de atributos porque comparten las keys para hacer un nuevo diccionario
dict_global = {}
for j in range(2):
        dict_attr = {}
        for i in range (10): #numero de atributos por ítem
            dict_attr [d["results"][j]["attributes"][i]["name"]] = d["results"][j]["attributes"][i]["value_name"] 
        dict_global[d["results"][j]["id"]] = dict_attr

In [6]:
dict_global

{'MLA1131635093': {'Condición del ítem': 'Usado',
  'Línea telefónica': 'Sí',
  'Aire acondicionado': 'No',
  'Dormitorios': '2',
  'Superficie cubierta': '48 m²',
  'Baños': '1',
  'Ambientes': '3',
  'Superficie total': '51 m²',
  'Operación': 'Alquiler',
  'Inmueble': 'Departamento'},
 'MLA1131872927': {'Condición del ítem': 'Usado',
  'Línea telefónica': 'No',
  'Aire acondicionado': 'No',
  'Dormitorios': '1',
  'Superficie cubierta': '39 m²',
  'Baños': '1',
  'Ambientes': '2',
  'Superficie total': '42 m²',
  'Operación': 'Alquiler',
  'Inmueble': 'Departamento'}}

In [7]:
df_attr = pd.DataFrame.from_dict(dict_global)

In [8]:
df_attr.T

,Condición del ítem,Línea telefónica,Aire acondicionado,Dormitorios,Superficie cubierta,Baños,Ambientes,Superficie total,Operación,Inmueble
MLA1131635093,Usado,Sí,No,2,48 m²,1,3,51 m²,Alquiler,Departamento
MLA1131872927,Usado,No,No,1,39 m²,1,2,42 m²,Alquiler,Departamento

In [10]:
dict_select = {}
dict_global2 = {}

In [11]:
for i in range (2):
    dict_select = {}
    dict_select["price"] = d["results"][i]["price"]
    dict_select["currency_id"] = d["results"][i]["currency_id"]
    dict_select["official_store_id"] = d["results"][i]["official_store_id"]
    dict_select["stop_time"] = d["results"][i]["stop_time"]
    dict_select["official_store_id"] = d["results"][i]["official_store_id"]
    dict_select["seller.id"] = d["results"][i]["seller"]["id"]
    dict_select["location.longitude"] = d["results"][i]["location"]["longitude"]
    dict_select["location.latitude"] = d["results"][i]["location"]["latitude"]
    dict_select["location.address_line"] = d["results"][i]["location"]["address_line"]
    dict_select["location.country.id"] = d["results"][i]["location"]["country"]["id"]
    dict_select["prices_last_updated"] = d["results"][i]["prices"]["prices"][0]["last_updated"]
    dict_global2[d["results"][i]["id"]] = dict_select

In [85]:
dict_global2

{'MLA1131635093': {'price': 65000,
  'currency_id': 'ARS',
  'official_store_id': None,
  'stop_time': '2022-06-10T04:00:00.000Z',
  'seller.id': 138924430,
  'location.longitude': -58.42917,
  'location.latitude': -34.5947,
  'location.address_line': 'Araoz al 1100',
  'location.country.id': 'AR',
  'prices_last_updated': '2022-04-11T18:23:37Z'},
 'MLA1131872927': {'price': 43500,
  'currency_id': 'ARS',
  'official_store_id': 2695,
  'stop_time': '2022-06-11T04:00:00.000Z',
  'seller.id': 155651025,
  'location.longitude': -58.457867,
  'location.latitude': -34.61696,
  'location.address_line': 'Donato Alvarez al 700',
  'location.country.id': 'AR',
  'prices_last_updated': '2022-04-12T19:03:31Z'}}

In [86]:
df_select = pd.DataFrame.from_dict(dict_global2)

In [87]:
df_select.T

,price,currency_id,official_store_id,stop_time,seller.id,location.longitude,location.latitude,location.address_line,location.country.id,prices_last_updated
MLA1131635093,65000,ARS,None,2022-06-10T04:00:00.000Z,138924430,-58.42917,-34.5947,Araoz al 1100,AR,2022-04-11T18:23:37Z
MLA1131872927,43500,ARS,2695,2022-06-11T04:00:00.000Z,155651025,-58.457867,-34.61696,Donato Alvarez al 700,AR,2022-04-12T19:03:31Z

In [88]:
df_features = df_select.T.join(df_attr.T)

In [89]:
df_features

,price,currency_id,official_store_id,stop_time,seller.id,location.longitude,location.latitude,location.address_line,location.country.id,prices_last_updated,Condición del ítem,Línea telefónica,Aire acondicionado,Dormitorios,Superficie cubierta,Baños,Ambientes,Superficie total,Operación,Inmueble
MLA1131635093,65000,ARS,None,2022-06-10T04:00:00.000Z,138924430,-58.42917,-34.5947,Araoz al 1100,AR,2022-04-11T18:23:37Z,Usado,Sí,No,2,48 m²,1,3,51 m²,Alquiler,Departamento
MLA1131872927,43500,ARS,2695,2022-06-11T04:00:00.000Z,155651025,-58.457867,-34.61696,Donato Alvarez al 700,AR,2022-04-12T19:03:31Z,Usado,No,No,1,39 m²,1,2,42 m²,Alquiler,Departamento